<div class="container">
    <div class="item">
        <img src="../../assets/14d14ed9d5aca06502d6f14bf6a25314.jpg" alt="Picture" />
    </div>
    <div class="item">
        <img src="../../assets/sunrise-illustration-digital-art-uhdpaper.com-4K-4.1963-wp.thumbnail.jpg" alt="Picture" />
    </div>
    <div class="item">
        <h1>
           Hello my friends :)
        </h1>
    </div>
    <div class="item">
        <p>Motivate everyday!</p>
    </div>
    <div class="item">
        <p>Keep going!</p>
    </div>
</div>